
{% extends '../../base.html' %}
{%  load static %}
{% block page_content %}


      <div class="row">
        <div class="col-lg-8">
            <h1>Admin Dashboard</h1>
            
        </div>
      </div>

  
{% endblock %}



{% block js_includes %}

<!--   Core JS Files   -->
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.min.js?v=3.2.0"></script>
{% endblock %}




