<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'includes/head-content.html' %}
    <title>{{title}}</title>
</head>
<body class="g-sidenav-show  bg-gray-100">

    {% include 'includes/sidebar.html' %}

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- include header file here -->
        {% include 'includes/header.html' %}

        <div class="container-fluid py-2">
            {% block page_content %}
            {% endblock %}
            {% include 'includes/footer.html' %}
        </div>

        {% include 'includes/fixed-plugin.html' %}
    </main>

    
    {% include 'includes/js-links.html' %}
    {% block js_includes %}
    {% endblock %}
</body>
</html>